/* body {
  background-color: #28b463;
} */

h3 {
  font-family: serif;
}

.cecca {
  color: purple;
}

.subtitle {
  font-family: serif;
  float: right;
}

.well {
  height: 500px;
}

.well img {
  float: right;
  border-radius: 10px;
  padding:5px;
  margin: 5px;
}
/* 
.well div.col-xs-6:last-of-type img {
  float: left;
  border-radius: 10px;
  padding:5px;
  margin: 5px;
} */
