/* body {
  background-color: #28b463;
} */

h3 {
  font-family: serif;
  text-align: center;
}

a {
  font-family: monospace;
}

li a {
  font-weight: bold;
}

.cecca {
  color:  #a569bd;
}

/* .subtitle {
  font-family: serif;
  float: right;
} */

.subtitle p {
  font-family: serif;
  float: right;
}

.well img {
  float: right;
  border-radius: 10px;
  padding:5px;
  margin: 5px;
}

li.language {
  font-style: italic;
}
